body {
    padding-top: 40px;
    
	color: #443E37;	
	text-shadow: 0px 1px 0px #FFFFFF;
}

a {
    color: #7BC0D6;
    text-decoration: none;
}

a:hover {
    color: #7BC0D6;
    text-decoration: none;
    border-bottom: 1px dotted #7BC0D6;
}

.image {
    position: relative;
    display: inline-block;
    overflow: hidden;
    
    background-repeat: no-repeat;
    background-position: center center;
}

.cover {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

.camera-image {
    background-color: #FFFFFF;
}

.image img {
    display: none;
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5;
    
    width: 100%;
    line-height: 40px;
    
    background-color: #FFFFFF;
    border-bottom: 1px solid #F9F9F9;
    
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

#header h2 {
    line-height: 40px;
}

#header h2.brand {
    float: left;
}

.header-login {
    display: block;
    float: right;
    line-height: 30px;
    margin: 5px;
    padding: 0 10px;
        
    background: #F8F8F8;
    border: none;
    
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.2) inset;
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.2) inset;
    box-shadow: 0 0 1px rgba(0,0,0,0.2) inset;
    
    border-radius: 2px;
}

a.header-login:hover {
    color: #FFFFFF;
    text-shadow: none;
    
    background: #7BC0D6;
    border: none;
}

.header-buddyicon {
    float: left;
    width: 25px;
    height: 20px;
    margin-right: 5px;
    margin-top: 5px;
    
    border-radius: 3px;
}

.brand {
    font-family: 'Lobster Two', cursive;
	font-style: italic;
	color: #7BC0D6 !important;

	text-shadow: 0px 1px 0px #ffffff !important;
}

/* Welcome Page */

.huge-welcome {
    padding: 30px 0;
    text-align: center;
}

.huge-welcome h1 {
    padding-bottom: .2em;
    font-size: 140px;
	line-height: 1em;
}

/* General Page Components */

.inset-section {
    padding: 30px 0;
    background: #F8F8F8;
    
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2) inset;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2) inset;
    box-shadow: 0 0 5px rgba(0,0,0,0.2) inset;
}

.section {
    border-top: 1px solid #F9F9F9;
}

.section-title {
    margin: .5em 0;
    
    font-size: 70px;
    line-height: 1em;
    
    font-family: 'Lobster Two', cursive;
	font-style: italic;
	color: #D9D9D9;
	
	text-align: center;
	
    text-shadow: rgba(0,0,0,0.4) 0 -1px 1px;
}

.section-content {
    position: relative;
    margin: 0 auto;
    width: 960px;
}

.inset {
    padding: 10px 0;
    
    background: #F8F8F8;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.2) inset;
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.2) inset;
    box-shadow: 0 0 1px rgba(0,0,0,0.2) inset;
}

/* Camera Collections */

.collection-camera {
    text-align: center;
    background-color: #FFFFFF;
}

.collection-camera-image {
    width: 200px;
    height: 200px;
}

/* Teh Media Queries */

@media (max-width: 480px) {
    .huge-welcome h1 {
        font-size: 60px;
    }
    
    .section-title {
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    .huge-welcome h1 {
        font-size: 80px;
    }
    
    .section-title {
        font-size: 40px;
    }
    
    .section-content {
        width: auto;
    }
    
    .inset {
        padding: 10px;
    }
}

@media (min-width: 768px) and (max-width: 980px) {
    .huge-welcome h1 {
        font-size: 100px;
    }
    
    .section-title {
        font-size: 50px;
    }
    
    .collection-camera-image {
        width: 160px;
        height: 160px;
    }
    
    .section-content {
        width: 744px;
    }
}

@media (min-width: 1200px) {
    .section-content {
        width: 1190px;
    }
}