{% extends 'base.html' %}
{% load static %}

{% block title %}{{ camera.name }} | This Is My Cam!{% endblock %}

{% block description %}Who has the {{ camera.name }}? These lucky people do!{% endblock %}

{% block body %}

<div class="section inset-section">
    <div class="container">
        <div class="row">
            
            <div class="span3">
                <div class="the-camera">
                    <div class="image camera-image sidebar-camera-image {{ camera.large_orientation }}" style="background-image: url('{{ camera.large_photo_url }}');">
                        <img src="{{ camera.large_photo_url }}">
                    </div>
                </div>
            </div>
            
            <div class="span9">
                <h1 class="title section-title brand">{{ camera.name }}</h1>
            </div>
            
        </div>
    </div>
</div>

{% for user_camera in user_cameras %}
    <a href="{% url flickr-user-camera user_camera.flickr_user.slug camera.slug %}">{{ user_camera.flickr_user.username }}</a><br />
{% endfor %}

{% endblock %}