{% extends 'base.html' %}

{% block body %}
<div class="section">
    <h1 class="section-title">Collection</h1>
    <div class="section-content inset">
        <div class="container">
            <div class="row">
                {% for camera in user_cameras %}
                    <div class="span3">
                        <div class="collection-camera">
                            <div class="image camera-image collection-camera-image" style="background-image: url('{{ camera.amazon_image_response.0.MediumImage.URL }}');">
                                <img src="{{ camera.amazon_image_response.0.MediumImage.URL }}">
                            </div>
                            <h5>{{ camera.name }}</h5>
                            <p>{{ camera.amazon_image_response.0.MediumImage.Width }} x {{ camera.amazon_image_response.0.MediumImage.Height }}</p>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:"4" %}
                        </div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}