{% extends 'base.html' %}

{% block body %}
<div class="the-camera-title">
    <h3 class="title">The fantastic</h3>
    <h1 class="section-title">{{ user_cameras.0.camera.name }}</h1>
    <h3 class="title">is your camera of choice.</h3>
</div>

<div class="inset-section">
    <div class="container">
        <div class="row">
            <div class="span5 offset1">
                <div class="the-camera">
                    <div class="image camera-image the-camera-image" style="background-image: url('{{ user_cameras.0.camera.large_photo_url }}');">
                        <img src="{{ user_cameras.0.camera.large_photo_url }}">
                    </div>
                </div>
            </div>
            <div class="span5">
                <div class="the-camera-story">
                    <p>
                        <strong>Your journey</strong> with the <strong><a href="#">{{ user_cameras.0.camera.model }}</a></strong> began on <strong>{{ user_cameras.0.date_first_taken|date:"l" }} the {{ user_cameras.0.date_first_taken|date:"jS" }} of {{ user_cameras.0.date_first_taken|date:"F, Y" }}</strong>, when you took your <strong><a href="{{ user.flickr_user.photos_url }}{{ user_cameras.0.first_taken_id }}" target="_blank">first photo</a></strong> together in <strong>San Francisco, California</strong>.
                    </p>
                    <p>
                        Since then, you've posted <strong>{{ user_cameras.0.count_photos }} photos</strong> to Flickr{% if user_cameras.0.comments_count %} which have received <strong>{{ user_cameras.0.comments_count }} comments</strong>{% endif %}{% if user_cameras.0.faves_count %} and brought joy to the lives of the people who faved them <strong>{{ user_cameras.0.faves_count }} times!</strong>{% endif %}. Just think of the joy those photos have added to the world!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <h1 class="section-title">Your Camera Collection</h1>
    <div class="section-content inset">
        <div class="container">
            <div class="row">
                {% for user_camera in user_cameras %}
                    <div class="span3">
                        <div class="collection-camera">
                            <div class="image camera-image collection-camera-image" style="background-image: url('{{ user_camera.camera.medium_photo_url }}');">
                                <img src="{{ user_camera.camera.medium_photo_url }}">
                            </div>
                            <h4>{{ user_camera.camera.name }}</h4>
                            <p>{{ user_camera.count_photos }}</p>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:"4" %}
                        </div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}