<div class="span3">
    <div class="collection-camera" id="js-{{ camera.user_camera.camera.slug }}">
        <div class="image camera-image collection-camera-image
        {% if camera.user_camera.camera.medium_width >= 200 or camera.user_camera.camera.medium_height >= 200 %}
        {{ camera.user_camera.camera.medium_orientation }}
        {% endif %}
        " style="background-image: url('{{ camera.user_camera.camera.medium_photo_url }}');">
            <img src="{{ camera.user_camera.camera.medium_photo_url }}">
            <a href="{% url flickr-user-camera flickr_user.slug camera.user_camera.camera.slug %}">
        </div>
        <h3 class="title collection-camera-title">{{ camera.user_camera.camera.name }}</h3>
        <div class="collection-camera-thumbnails">
            {% for photo in camera.photos %}
                <a href="{{ photo.flickr_photo_page }}" target="_blank" class="collection-camera-thumbnail">
                    <img src="{{ photo.square_150_url }}" alt="{{ photo.title|safe }}">
                </a>
            {% endfor %}
        </div>
        <p><span class="count_photos">{{ camera.user_camera.count_photos }}</span> Photos</p>
    </div>
</div>