<h2 class="title section-title">Oh, what things {% if is_owner %}you've{% else %}they've{% endif %} seen!</h2>

<div class="row">
    <div class="span12">
        <ul class="thumbnails">
            {% for photo in photos %}
                <li class="span2">
                    <a href="{{ photo.flickr_photo_page }}" target="_blank" class="thumbnail">
                        <img src="{{ photo.square_150_url }}" alt="{{ photo.title|safe }}">
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>