<div class="visible-desktop" style="text-align:center;">
    <div class="amazon-carousel">
        <script type='text/javascript'>
            var amzn_wdgt={widget:'Carousel'};
            amzn_wdgt.tag='yayamazon-20';
            amzn_wdgt.widgetType='SearchAndAdd';
{% if primary_camera.category.name == "Cameraphone" %}
            amzn_wdgt.searchIndex='Photo';
{% else %}
            amzn_wdgt.searchIndex='Electronics';
{% endif %}
            amzn_wdgt.keywords='{{ primary_camera.camera.name }}';
            amzn_wdgt.width='940';
            amzn_wdgt.height='250';
            amzn_wdgt.marketPlace='US';
        </script>
        <script type='text/javascript' src='http://wms.assoc-amazon.com/20070822/US/js/swfobject_1_5.js'>
        </script>
        <p>
            <small>These links help pay the bills, you should check them out :)</small>
        </p>
    </div>
</div>