{% extends 'base.html' %}
{% load static %}
{% load thisismycam_extras %}
{% load humanize %}

{% block title %}{{ flickr_user.username }} | This Is My Cam!{% endblock %}

{% block description %}{{ flickr_user.username|possessive }} current camera of choice is the {{ primary_camera.camera.name }}! Check out their full camera collection on This Is My Cam.{% endblock %}

{% block body %}
<div class="section inset-section">
    <div class="container">
    {% if flickr_user.initial_fetch_completed %}
        {% if primary_camera %}
        <div class="the-camera-title">
            <h3 class="title">The fantastic</h3>
            <h1 class="title section-title brand">{{ primary_camera.camera.name }}</h1>
            <h3 class="title">is {% if is_owner %}your{% else %}{{ flickr_user.username|possessive }}{% endif %} camera of choice.</h3>
        </div>
        
        <div class="row">
            <div class="span5 offset1">
                <div class="the-camera">
                    <div class="image camera-image the-camera-image {{ primary_camera.camera.large_orientation }}" style="background-image: url('{{ primary_camera.camera.large_photo_url }}');">
                        <img src="{{ primary_camera.camera.large_photo_url }}">
                    </div>
                </div>
            </div>
            <div class="span5">
                <div class="the-camera-story">
                    <p>
                        <strong>{% if is_owner %}Your{% else %}{{ flickr_user.username|possessive }}{% endif %} journey</strong> with the <strong><a href="/{{ flickr_user.slug }}/cameras/{{ primary_camera.camera.slug }}">{{ primary_camera.camera.model }}</a></strong> began on <strong>{{ primary_camera.date_first_taken|date:"l" }} the {{ primary_camera.date_first_taken|date:"jS" }} of {{ primary_camera.date_first_taken|date:"F, Y" }}</strong>, when {% if is_owner %}you{% else %}they{% endif %} took {% if is_owner %}your{% else %}their{% endif %} <strong><a href="{{ flickr_user.photos_url }}{{ primary_camera.first_taken_id }}" target="_blank">first photo</a></strong> together{% comment %}{% if first_taken_photo.has_geo and first_taken_photo.flickr_place.locality_name %} in <strong>{{ first_taken_photo.flickr_place.locality_name }}</strong>{% endif %}{% endcomment %}.
                    </p>
                    <p>
                        Since then, {% if is_owner %}you've{% else %}they've{% endif %} posted <strong>{{ primary_camera.count_photos }} photos</strong> from {% if is_owner %}your{% else %}their{% endif %} {{ primary_camera.camera.model }} to Flickr{% if primary_camera.comments_count %} which have received <strong>{{ primary_camera.comments_count }} comments</strong>{% endif %}{% if primary_camera.faves_count %} and brought joy to those who've faved them <strong>{{ primary_camera.faves_count }} times</strong>{% endif %}. Just think of the good those photos have done for the world!
                    </p>
                    <p>
                        The <strong><a href="{{ flickr_user.photos_url }}{{ primary_camera.last_taken_id }}" target="_blank">last photo</a></strong> {% if is_owner %}you{% else %}they{% endif %} took with {% if is_owner %}your{% else %}their{% endif %} {{ primary_camera.camera.model }} was <strong>{{ primary_camera.date_last_taken|naturaltime }}</strong>.{% if is_owner %} Maybe it's time to go outside and take a few more?{% endif %}
                    </p>
                    {% if primary_camera.camera.count > 1 %}
                    <p>
                        Who else has this camera? <a href="{% url camera primary_camera.camera.slug %}">{{ primary_camera.camera.count }} lucky people</a>!
                    </p>
                    {% endif %}
                    {% if not is_owner and primary_camera.camera.amazon_url %}
                    <p>
                        <strong>Want more?</strong> <a href="{{ primary_camera.camera.amazon_url }}" target="_blank">See info and reviews for the {{ primary_camera.camera.model }} &rarr;</a>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
		{% include 'flickr/fragment_camera_photos.html' %}
		{% elif flickr_user.count_cameras %}
		    <div class="setup-welcome">
        		<div class="row">
        		    <div class="span10 offset1">
            		    <p>Hum, it looks like we've found some cameras, but haven't calculated {% if is_owner %}your{% else %}{{ flickr_user.username|possessive }}{% endif %} current camera of choice.</p>
            		    <p>If the calculation is in progress, you should see {% if is_owner %}your{% else %}{{ flickr_user.username|possessive }}{% endif %} cam here soon, otherwise it will update the next time we check for new photos (sometime in the next 24 hours).</p>
            		</div>
            	</div>
            </div>
		{% elif flickr_user.count_photos %}
    		<div class="setup-welcome">
        		<div class="row">
        		    <div class="span10 offset1">
            		    <p>Hum, we scanned all your photos but couldn't find any cameras :-(</p>
            		    <p>This Is My Cam needs Exif data to know what camera you used to take a photo, and we only use public photos and Exif data to build your camera collection.</p>
            		    <p>Maybe you have "Hide your EXIF data" set to yes in <a href="http://www.flickr.com/account/privacy/">your flickr settings</a>?</p>
            		</div>
            	</div>
            </div>
		{% else %}
    		<div class="setup-welcome">
        		<div class="row">
        		    <div class="span10 offset1">
            		    <p>Oh no, it doesn't look like you have any public photos, so we couldn't find any cameras :-(</p>
            		    <p>This Is My Cam only uses public photos to build your camera collection. Sorry, but managing privacy is out of our budget.</p>
            		</div>
            	</div>
            </div>
		{% endif %}
    {% else %}
    <div class="alert alert-block">
      <h3>We've been popular lately, yay!</h3>
      However, this means we're a little backed up and it might take a while for all of your photos to load. Hang in there with us and everything will finish up... eventually!<br /><br />
      Want to support This Is My Cam while you wait? <a href="http://www.amazon.com/Camera-Photo-Film-Canon-Sony/b/?ie=UTF8&node=502394&tag=yayamazon-20" target="_blank">Grab some new gear on Amazon</a> and help us pay for more servers!
    </div>
    <div class="setup-welcome">
        <div class="row">
            <div class="span4 offset1">
                <div class="image cover buddyicon" style="background-image: url('http://flickr.com/buddyicons/{{ user.flickr_nsid }}.jpg');">
                    <img src="http://flickr.com/buddyicons/{{ user.flickr_nsid }}.jpg" />
                </div>
                <h2>Hi {{ flickr_user.username }}!</h2>
                <p>
                    Welcome to This Is My Cam.
                </p>
            </div>
            <div class="span6">
                <div class="photo-update-bar">
                    <div id="js-progress-bar" class="progress progress-striped active">
                      <div class="bar"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <span class="span10 offset1">
                <p>
                    Right now, your <strong>{{ flickr_user.count_photos }}</strong> public photos are being scanned to find your cameras. This could take a while.
                </p>
                <p>
                    As new cameras are found they'll appear below. The progress bar above will keep you informed of the overall progress, and there's no need to stay on this page, everything will be just fine if you leave and come back later.
                </p>
                <!--
                <p>
                    Want an email when everything is finished? We can do that.
                </p>
                -->
            </span>
        </div>
    </div>
    {% endif %}
    </div>
</div>

{% include 'flickr/fragment_user_camera_collection.html' %}

<div class="section" id="js-user-contacts-section"{% if not contacts %}style="display:none;"{% endif %}>
    <h1 class="title section-title">{% if is_owner %}Your{% else %}{{ flickr_user.username|possessive }}{% endif %} Contacts</h1>
    <div class="section-content inset" id="js-user-contacts">
        <div class="container">
            <div class="row">
            {% for user_contact in contacts %}
                {% include 'flickr/fragment_user_contact.html' %}
                {% if forloop.counter|divisibleby:"4" and flickr_user.date_last_photo_update %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script src="{% get_static_prefix %}js/jquery/jquery.transit.min.js"></script>
    <script>
    /*
        $(document).ready(function(){
            $('.flippy-container').mouseover(function(){
                $(this).transition({
                    perspective: '100px',
                    rotateX: '180deg'
                });
                $(this).addClass('rotated');
            });
        });
    */
    </script>
    {% if not flickr_user.initial_fetch_completed or not flickr_user.date_last_photo_update %}
        <script src="{{ pushy_url }}/socket.io/socket.io.js"></script>
        <script>
            $(document).ready(function(){
                var socket = io.connect('{{ pushy_url }}');
                socket.on('{{ pushy_channel }}', function (data) {

                    var message = jQuery.parseJSON(data.msg);
                    
                    if (message.type) {
                        
                        switch (message.type) {
                                
                            case 'fetch_photos.update_progress_bar':
                            
                                var progress_bar = $('#js-progress-bar');
                            
                                if (progress_bar && progress_bar.css('display') == 'none') {
                                    progress_bar.fadeIn('slow');
                                }
                            
                                $('#js-progress-bar .bar').css('width', message.data.pct + '%');
                                
                                //console.log(message.data.pct);
                                
                                break;
                                
                            case 'fetch_photos.new_camera':
                                
                                $.ajax({
                                    url: "/" + message.data.user + "/cameras/" + message.data.camera,
                                }).done(function(html) {
                                    if ($('#js-user-cameras-section').css('display') == "none") {
                                        $('#js-user-cameras-section').fadeIn();
                                    }
                                    
                                    var targetRow = $("#js-camera-collection > .container > .row").last();
                                    $(html).hide().prependTo(targetRow).fadeIn('slow');
                                });
                                
                                //console.log(message.data.camera);
                                
                                break;
                                
                            case 'fetch_photos.camera_photo_count':
                                
                                var countSpan = $('#js-' + message.data.camera).find('.count_photos');
                                
                                if (message.data.count > countSpan.text()) {
                                    countSpan.text(message.data.count);
                                }
                                
                                //console.log(message.data);
                                
                                break;
                                
                            case 'fetch_photos.complete':
                                
                                $('#js-progress-bar .bar').css('width', '100%');
                                
                                // Quick hack to reload page for now.
                                location.reload();
                                
                                break;
                                
                            case 'fetch_contacts.new_contact':
                                
                                $.ajax({
                                    url: "/" + message.data.contact,
                                }).done(function(html) {
                                    if ($('#js-user-contacts-section').css('display') == "none") {
                                        $('#js-user-contacts-section').fadeIn();
                                    }
                                    
                                    var targetRow = $("#js-user-contacts > .container > .row").last();
                                    $(html).hide().prependTo(targetRow).fadeIn('slow');
                                });
                                
                                break;
                        }
                        
                    }
                    
                });
            });
        </script>
    {% endif %}
{% endblock %}