{% extends 'base.html' %}
{% load thisismycam_extras %}
{% load humanize %}

{% block body %}
<div class="inset-section">
    <div class="container">
    {% if flickr_user.date_last_photo_update %}
        <div class="the-camera-title">
            <h3 class="title">The fantastic</h3>
            <h1 class="title section-title brand">{{ primary_camera.camera.name }}</h1>
            <h3 class="title">is your camera of choice.</h3>
        </div>
        
        <div class="row">
            <div class="span5 offset1">
                <div class="the-camera">
                    <div class="image camera-image the-camera-image" style="background-image: url('{{ primary_camera.camera.large_photo_url }}');">
                        <img src="{{ primary_camera.camera.large_photo_url }}">
                    </div>
                </div>
            </div>
            <div class="span5">
                <div class="the-camera-story">
                    <p>
                        <strong>{% if is_owner %}Your{% else %}{{ flickr_user.username|possessive }}{% endif %} journey</strong> with the <strong><a href="/cameras/{{ primary_camera.camera }}">{{ primary_camera.camera.model }}</a></strong> began on <strong>{{ primary_camera.date_first_taken|date:"l" }} the {{ primary_camera.date_first_taken|date:"jS" }} of {{ primary_camera.date_first_taken|date:"F, Y" }}</strong>, when you took your <strong><a href="{{ user.flickr_user.photos_url }}{{ primary_camera.first_taken_id }}" target="_blank">first photo</a></strong> together {% comment %}{% if first_taken_photo.has_geo and first_taken_photo.flickr_place.locality_name %} in <strong>{{ first_taken_photo.flickr_place.locality_name }}</strong>{% endif %}{% endcomment %}.
                    </p>
                    <p>
                        Since then, you've posted <strong>{{ primary_camera.count_photos }} photos</strong> from your {{ primary_camera.camera.model }} to Flickr{% if primary_camera.comments_count %} which have received <strong>{{ primary_camera.comments_count }} comments</strong>{% endif %}{% if primary_camera.faves_count %} and brought joy to those who've faved them <strong>{{ primary_camera.faves_count }} times</strong>{% endif %}. Just think of the good those photos have done for the world!
                    </p>
                    <p>
                        The <strong><a href="{{ user.flickr_user.photos_url }}{{ primary_camera.last_taken_id }}" target="_blank">last photo</a></strong> you took with your {{ primary_camera.camera.model }} was <strong>{{ primary_camera.date_last_taken|naturaltime }}</strong>. Maybe it's time to go outside and take a few more?
                    </p>
                </div>
            </div>
        </div>
        
        <h2 class="title section-title">Oh, what things you've seen!</h2>
        
        <div class="row">
            <div class="span12">
                <ul class="thumbnails">
                    {% for photo in photos %}
                        <li class="span2">
                            <a href="{{ photo.flickr_photo_page }}" target="_blank" class="thumbnail">
                                <img src="{{ photo.square_150_url }}" alt="{{ photo.title|safe }}">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        <div class="photo-update-bar">
            <div id="js-progress-bar" class="progress progress-striped active">
              <div class="bar"></div>
            </div>
        </div>
    {% endif %}
    </div>
</div>

<div class="section">
    <h1 class="title section-title">Your Camera Collection</h1>
    <div class="section-content inset" id="js-camera-collection">
        <div class="container">
            <div class="row">
                {% for camera in user_cameras %}
                    {% include 'flickr/fragment_user_camera.html' %}
                    {% if forloop.counter|divisibleby:"4" and flickr_user.date_last_photo_update %}
                        </div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    {% if not flickr_user.date_last_photo_update %}
        <script src="{{ pushy_url }}/socket.io/socket.io.js"></script>
        <script>
            $(document).ready(function(){
                var socket = io.connect('{{ pushy_url }}');
                socket.on('{{ pushy_channel }}', function (data) {

                    var message = jQuery.parseJSON(data.msg);
                    
                    if (message.type) {
                        
                        switch (message.type) {
                                
                            case 'fetch_photos.update_progress_bar':
                            
                                var progress_bar = $('#js-progress-bar');
                            
                                if (progress_bar && progress_bar.css('display') == 'none') {
                                    progress_bar.fadeIn('slow');
                                }
                            
                                $('#js-progress-bar .bar').css('width', message.data.pct + '%');
                                
                                //console.log(message.data.pct);
                                
                                break;
                                
                            case 'fetch_photos.new_camera':
                                
                                $.ajax({
                                    url: "/" + message.data.user + "/cameras/" + message.data.camera,
                                }).done(function(html) {
                                    var targetRow = $("#js-camera-collection > .container > .row").last();
                                    $(html).hide().prependTo(targetRow).fadeIn('slow');
                                });
                                
                                //console.log(message.data.camera);
                                
                                break;
                                
                            case 'fetch_photos.camera_photo_count':
                                
                                var countSpan = $('#js-' + message.data.camera).find('.count_photos');
                                
                                if (message.data.count > countSpan.text()) {
                                    countSpan.text(message.data.count);
                                }
                                
                                //console.log(message.data);
                                
                                break;
                                
                        }
                        
                    }
                    
                });
            });
        </script>
    {% endif %}
{% endblock %}