<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Show off the beloved cameras you use to take beautiful photos.">
    
	<title>{% block title %}This Is My Cam!{% endblock %}</title>
	
	<!-- styles -->
	{% block stylesheets %}
	<link href='http://fonts.googleapis.com/css?family=Lobster+Two:700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% get_static_prefix %}bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% get_static_prefix %}bootstrap/css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="{% get_static_prefix %}css/style.css" type="text/css" media="screen" />
	{% endblock %}
	
	{% block head_javascripts %}
	{% endblock %}
</head>
<body>
    <div id="wrap">
        <div id="main">
            {% block body %}{% endblock %}
        </div>
    </div>
    <div id="footer">
        <!-- i can haz footer? -->
    </div>
    {% block javascripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    {% endblock %}
</body>